* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background:url(img/metal-slug-tank.gif) black;
  background-size: cover;
  color: white;
  font-size: 16px;
  font-family: 'Tapestry', cursive;
}

.caja {
  text-align: center;
  padding-left: 50%;
}

.widget {
  
  margin: 32px;
}

.widget p {
  display: inline-block;
  line-height: 1em;
}

.fecha {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  background: black;
  background-blend-mode: multiply,multiply;
  padding: 20px;
  width: 100%;
}

.reloj {
  
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: black;
 background-blend-mode: multiply,multiply;
}

.reloj .caja-segundos {
  display: inline-block;
}

.reloj .segundos, .reloj .ampm {
  font-size: 2rem;
  display: block;
}



